mule-dataframework/src/test/resources/application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.temenos.com/T24/event/Common/EventCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application" type="xs:string"/>
  <xs:element name="companyId" type="xs:string"/>
  <xs:element name="operator" type="xs:string"/>
  <xs:element name="today" type="xs:date"/>
  <xs:element name="transactionStage" type="xs:string"/>
</xs:schema>