mule-dataframework/src/main/resources/xsd/Account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.temenos.com/T24/event/T24Integration/Account" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.temenos.com/T24/event/T24Integration/Account" elementFormDefault="qualified"
	xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon">
	<xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd" />
	<xsd:element name="Account">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1" />
				<xsd:element ref="id" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="mnemonic" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="accountNumber" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="category" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="accountTitle1" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="accountTitle2" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="shortTitle" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="customerNo" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="customerMnemonic" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="currency" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="table" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="eventCommon" type="ns0:EventCommon" />
	<xsd:element name="id" type="xsd:string" />
	<xsd:element name="mnemonic" type="xsd:string" />
	<xsd:element name="accountNumber" type="xsd:string" />
	<xsd:element name="category" type="xsd:string" />
	<xsd:element name="accountTitle1" type="xsd:string" />
	<xsd:element name="accountTitle2" type="xsd:string" />
	<xsd:element name="shortTitle" type="xsd:string" />
	<xsd:element name="customerNo" type="xsd:string" />
	<xsd:element name="customerMnemonic" type="xsd:string" />
	<xsd:element name="currency" type="xsd:string" />
	<xsd:element name="table" type="xsd:string" />
</xsd:schema>